<nav class="navbar navbar-light navbar-expand">
    <ul class="navbar-nav ms-auto" style="margin-right: 40px;">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/search" routerLinkActive="active" style="margin-right: 5px;">
                Search
            </a>           
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/favorites" routerLinkActive="active">
                Favorites
            </a>
        </li>
    </ul>
</nav>
